<div>
  <img class='center width' src='/images/beer.png' alt='beerIMG' />
</div>
<div class="flexCenter">
  <button class='button'>Check the Beers!</button>
  <button class='button'>Check a Random Beer!</button>
</div>