<div>
  <img class='center beerIMG' src='/images/beer.png' alt='beerIMG' />
</div>
<div class="flexCenter">
<a class="button" href="/beers">Beers</a>
<a class="button" href="/random">Random Beer</a>
</div>